
<div class="class-container" data-classname="{{ClassName}}">
  <div class="class-container-header">
    <button class="dropdown"><h1> {{ClassName}} </a></h1>  </button>
    <button class="delete-class"> X </button>
  </div>

    <ul class="Note-Container" style="display:none;">
      {{#each Notes}}
          <li class="Note-List-Item" data-notename={{title}}>
            <a href="http://localhost:3000/{{classname}}/{{title}}">{{title}}</a>
          </li>
      {{/each}}
    </ul>

  {{> AddNoteButtonTemplate}}
</div>
