
<div class="Note" data-title="{{title}}" data-classname={{classname}} data-created="{{created}}">
  <div class="Note-Title-Container">
    <h3><a href="http://localhost:3000/{{classname}}/{{title}}">{{title}}</a></h3>
    <button class="delete-note"> X </button>
  </div>
  <div class="Note-Content-Container">
    <section class="Note-Content">
        {{content}}
    </section>
  </div>
</div>
