/*Potential Layout for Note template*/

<div class="Note" data-course="{{course}}" data-title="{{title}}" data-created="{{created}}" data-modified="{{modified}}">
  <div class="Note-Title-Container">
    <h3> {{title}} </h3>
  </div>
  <div class="Note-Content-Container">
    <section class="Note-Content">
        {{content}}
    </section>
  </div>
</div>
