
<div class="notepage-header">
  <div class="title">{{classname}} : {{title}}</div>
  <div class="date-title"><h1>Date Created:<br />{{created}}</h1></div>
</div>

<div class="Content-Container">
  <textarea id="Note-Contents" data-notetitle="{{title}}" data-classname="{{classname}}">
    {{content}}
  </textarea>

  <div class="Note-Save-Button">
    <button class="save">save</button>
  </div>

</div>
